set_io a[0] gfpga_pad_io_soc_in[13]
set_io a[1] gfpga_pad_io_soc_in[14]
set_io a[2] gfpga_pad_io_soc_in[15]
set_io a[3] gfpga_pad_io_soc_in[16]
set_io a[4] gfpga_pad_io_soc_in[17]
set_io a[5] gfpga_pad_io_soc_in[18]
set_io a[6] gfpga_pad_io_soc_in[19]
set_io a[7] gfpga_pad_io_soc_in[36]
set_io a[8] gfpga_pad_io_soc_in[37]

set_io b[0] gfpga_pad_io_soc_in[38]
set_io b[1] gfpga_pad_io_soc_in[39]
set_io b[2] gfpga_pad_io_soc_in[40]
set_io b[3] gfpga_pad_io_soc_in[41]
set_io b[4] gfpga_pad_io_soc_in[42]
set_io b[5] gfpga_pad_io_soc_in[43]
set_io b[6] gfpga_pad_io_soc_in[44]
set_io b[7] gfpga_pad_io_soc_in[45]
set_io b[8] gfpga_pad_io_soc_in[46]

set_io c[0] gfpga_pad_io_soc_out[119]
set_io c[1] gfpga_pad_io_soc_out[120]
set_io c[2] gfpga_pad_io_soc_out[121]
set_io c[3] gfpga_pad_io_soc_out[122]
set_io c[4] gfpga_pad_io_soc_out[123]
set_io c[5] gfpga_pad_io_soc_out[124]
set_io c[6] gfpga_pad_io_soc_out[125]
set_io c[7] gfpga_pad_io_soc_out[126]
set_io c[8] gfpga_pad_io_soc_out[127]
