set_io in[0] gfpga_pad_io_soc_in[13]
set_io in[1] gfpga_pad_io_soc_in[14]
set_io in[2] gfpga_pad_io_soc_in[15]
set_io in[3] gfpga_pad_io_soc_in[16]
set_io in[4] gfpga_pad_io_soc_in[17]
set_io in[5] gfpga_pad_io_soc_in[18]
set_io in[6] gfpga_pad_io_soc_in[19]
set_io in[7] gfpga_pad_io_soc_in[36]
set_io in[8] gfpga_pad_io_soc_in[37]
set_io in[9] gfpga_pad_io_soc_in[39]
set_io in[10] gfpga_pad_io_soc_in[40]
set_io in[11] gfpga_pad_io_soc_in[41]

set_io out[0] gfpga_pad_io_soc_out[42]
set_io out[1] gfpga_pad_io_soc_out[43]
set_io out[2] gfpga_pad_io_soc_out[44]
set_io out[3] gfpga_pad_io_soc_out[45]
set_io out[4] gfpga_pad_io_soc_out[46]
set_io out[5] gfpga_pad_io_soc_out[119]
set_io out[6] gfpga_pad_io_soc_out[120]
set_io out[7] gfpga_pad_io_soc_out[121]
set_io out[8] gfpga_pad_io_soc_out[122]
set_io out[9] gfpga_pad_io_soc_out[123]
set_io out[10] gfpga_pad_io_soc_out[125]
set_io out[11] gfpga_pad_io_soc_out[127]

