set_io clk gfpga_pad_io_soc_in[0]
set_io wen gfpga_pad_io_soc_in[1]
set_io ren gfpga_pad_io_soc_in[2]
set_io raddr_0_ gfpga_pad_io_soc_in[3]
set_io raddr_1_ gfpga_pad_io_soc_in[4]
set_io raddr_2_ gfpga_pad_io_soc_in[5]
set_io raddr_3_ gfpga_pad_io_soc_in[6]
set_io raddr_4_ gfpga_pad_io_soc_in[7]
set_io raddr_5_ gfpga_pad_io_soc_in[8]
set_io waddr_0_ gfpga_pad_io_soc_in[9]
set_io waddr_1_ gfpga_pad_io_soc_in[10]
set_io waddr_2_ gfpga_pad_io_soc_in[11]
set_io waddr_3_ gfpga_pad_io_soc_in[12]
set_io waddr_4_ gfpga_pad_io_soc_in[13]
set_io waddr_5_ gfpga_pad_io_soc_in[14]
set_io a_0_ gfpga_pad_io_soc_in[15]
set_io a_1_ gfpga_pad_io_soc_in[16]
set_io a_2_ gfpga_pad_io_soc_in[17]
set_io a_3_ gfpga_pad_io_soc_in[18]
set_io a_4_ gfpga_pad_io_soc_in[19]
set_io a_5_ gfpga_pad_io_soc_in[20]
set_io a_6_ gfpga_pad_io_soc_in[21]
set_io b_0_ gfpga_pad_io_soc_in[22]
set_io b_1_ gfpga_pad_io_soc_in[23]
set_io b_2_ gfpga_pad_io_soc_in[24]
set_io b_3_ gfpga_pad_io_soc_in[25]
set_io b_4_ gfpga_pad_io_soc_in[26]
set_io b_5_ gfpga_pad_io_soc_in[27]
set_io b_6_ gfpga_pad_io_soc_in[28]
set_io q_0_ gfpga_pad_io_soc_out[29]
set_io q_1_ gfpga_pad_io_soc_out[30]
set_io q_2_ gfpga_pad_io_soc_out[31]
set_io q_3_ gfpga_pad_io_soc_out[32]
set_io q_4_ gfpga_pad_io_soc_out[33]
set_io q_5_ gfpga_pad_io_soc_out[34]
set_io q_6_ gfpga_pad_io_soc_out[35]
set_io q_7_ gfpga_pad_io_soc_out[36]
