set_io clk gfpga_pad_io_soc_in[37]
set_io rst gfpga_pad_io_soc_in[36]
set_io q[0] gfpga_pad_io_soc_out[39]
set_io q[1] gfpga_pad_io_soc_out[40]
set_io q[2] gfpga_pad_io_soc_out[41]
set_io q[3] gfpga_pad_io_soc_out[42]
set_io q[4] gfpga_pad_io_soc_out[43]
set_io q[5] gfpga_pad_io_soc_out[44]
set_io q[6] gfpga_pad_io_soc_out[45]
set_io q[7] gfpga_pad_io_soc_out[46]