set_io en gfpga_pad_io_soc_in[13]
set_io in[0] gfpga_pad_io_soc_in[14]
set_io in[1] gfpga_pad_io_soc_in[15]
set_io in[2] gfpga_pad_io_soc_in[16]
set_io out[0] gfpga_pad_io_soc_out[39]
set_io out[1] gfpga_pad_io_soc_out[40]
set_io out[2] gfpga_pad_io_soc_out[41]
set_io out[3] gfpga_pad_io_soc_out[42]
set_io out[4] gfpga_pad_io_soc_out[43]
set_io out[5] gfpga_pad_io_soc_out[44]
set_io out[6] gfpga_pad_io_soc_out[45]
set_io out[7] gfpga_pad_io_soc_out[46]