set_io in[0] gfpga_pad_io_soc_in[42]
set_io in[1] gfpga_pad_io_soc_in[43]
set_io in[2] gfpga_pad_io_soc_in[44]
set_io in[3] gfpga_pad_io_soc_in[45]
set_io in[4] gfpga_pad_io_soc_in[46]
set_io in[5] gfpga_pad_io_soc_in[119]
set_io in[6] gfpga_pad_io_soc_in[120]
set_io in[7] gfpga_pad_io_soc_in[121]
set_io in[8] gfpga_pad_io_soc_in[122]
set_io in[9] gfpga_pad_io_soc_in[123]
set_io in[10] gfpga_pad_io_soc_in[125]
set_io in[11] gfpga_pad_io_soc_in[127]

set_io out[0] gfpga_pad_io_soc_out[13]
set_io out[1] gfpga_pad_io_soc_out[14]
set_io out[2] gfpga_pad_io_soc_out[15]
set_io out[3] gfpga_pad_io_soc_out[16]
set_io out[4] gfpga_pad_io_soc_out[17]
set_io out[5] gfpga_pad_io_soc_out[18]
set_io out[6] gfpga_pad_io_soc_out[19]
set_io out[7] gfpga_pad_io_soc_out[36]
set_io out[8] gfpga_pad_io_soc_out[37]
set_io out[9] gfpga_pad_io_soc_out[39]
set_io out[10] gfpga_pad_io_soc_out[40]
set_io out[11] gfpga_pad_io_soc_out[41]


