set_io data_in gfpga_pad_io_soc_in[15]
set_io data_out[0] gfpga_pad_io_soc_out[0]
set_io data_out[1] gfpga_pad_io_soc_out[1]
set_io data_out[2] gfpga_pad_io_soc_out[2]
set_io data_out[3] gfpga_pad_io_soc_out[3]
set_io data_out[4] gfpga_pad_io_soc_out[4]
set_io data_out[5] gfpga_pad_io_soc_out[5]
set_io data_out[6] gfpga_pad_io_soc_out[6]
set_io data_out[7] gfpga_pad_io_soc_out[7]
set_io data_out[8] gfpga_pad_io_soc_out[8]
set_io data_out[9] gfpga_pad_io_soc_out[9]
set_io data_out[10] gfpga_pad_io_soc_out[10]
set_io data_out[11] gfpga_pad_io_soc_out[11]
set_io data_out[12] gfpga_pad_io_soc_out[12]
set_io data_out[13] gfpga_pad_io_soc_out[13]
set_io data_out[14] gfpga_pad_io_soc_out[14]
set_io data_out[15] gfpga_pad_io_soc_out[16]
set_io data_out[16] gfpga_pad_io_soc_out[17]
set_io data_out[17] gfpga_pad_io_soc_out[18]
set_io data_out[18] gfpga_pad_io_soc_out[19]
set_io data_out[19] gfpga_pad_io_soc_out[20]
set_io data_out[20] gfpga_pad_io_soc_out[21]
set_io data_out[21] gfpga_pad_io_soc_out[22]
set_io data_out[22] gfpga_pad_io_soc_out[23]
set_io data_out[23] gfpga_pad_io_soc_out[24]
set_io data_out[24] gfpga_pad_io_soc_out[25]
set_io data_out[25] gfpga_pad_io_soc_out[26]
set_io data_out[26] gfpga_pad_io_soc_out[27]
set_io data_out[27] gfpga_pad_io_soc_out[28]
set_io data_out[28] gfpga_pad_io_soc_out[29]
set_io data_out[29] gfpga_pad_io_soc_out[30]
set_io data_out[30] gfpga_pad_io_soc_out[31]
set_io data_out[31] gfpga_pad_io_soc_out[32]
set_io data_out[32] gfpga_pad_io_soc_out[33]
set_io data_out[33] gfpga_pad_io_soc_out[34]
set_io data_out[34] gfpga_pad_io_soc_out[35]
set_io data_out[35] gfpga_pad_io_soc_out[36]
set_io data_out[36] gfpga_pad_io_soc_out[37]
set_io data_out[37] gfpga_pad_io_soc_out[38]
set_io data_out[38] gfpga_pad_io_soc_out[39]
set_io data_out[39] gfpga_pad_io_soc_out[40]
set_io data_out[40] gfpga_pad_io_soc_out[41]
set_io data_out[41] gfpga_pad_io_soc_out[42]
set_io data_out[42] gfpga_pad_io_soc_out[43]
set_io data_out[43] gfpga_pad_io_soc_out[44]
set_io data_out[44] gfpga_pad_io_soc_out[45]
set_io data_out[45] gfpga_pad_io_soc_out[46]
set_io data_out[46] gfpga_pad_io_soc_out[47]
set_io data_out[47] gfpga_pad_io_soc_out[48]
set_io data_out[48] gfpga_pad_io_soc_out[49]
set_io data_out[49] gfpga_pad_io_soc_out[50]
set_io data_out[50] gfpga_pad_io_soc_out[51]
set_io data_out[51] gfpga_pad_io_soc_out[52]
set_io data_out[52] gfpga_pad_io_soc_out[53]
set_io data_out[53] gfpga_pad_io_soc_out[54]
set_io data_out[54] gfpga_pad_io_soc_out[55]
set_io data_out[55] gfpga_pad_io_soc_out[56]
set_io data_out[56] gfpga_pad_io_soc_out[57]
set_io data_out[57] gfpga_pad_io_soc_out[58]
set_io data_out[58] gfpga_pad_io_soc_out[59]
set_io data_out[59] gfpga_pad_io_soc_out[60]
set_io data_out[60] gfpga_pad_io_soc_out[61]
set_io data_out[61] gfpga_pad_io_soc_out[62]
set_io data_out[62] gfpga_pad_io_soc_out[63]
set_io data_out[63] gfpga_pad_io_soc_out[64]
set_io data_out[64] gfpga_pad_io_soc_out[65]
set_io data_out[65] gfpga_pad_io_soc_out[66]
set_io data_out[66] gfpga_pad_io_soc_out[67]
set_io data_out[67] gfpga_pad_io_soc_out[68]
set_io data_out[68] gfpga_pad_io_soc_out[69]
set_io data_out[69] gfpga_pad_io_soc_out[70]
set_io data_out[70] gfpga_pad_io_soc_out[71]
set_io data_out[71] gfpga_pad_io_soc_out[72]
set_io data_out[72] gfpga_pad_io_soc_out[73]
set_io data_out[73] gfpga_pad_io_soc_out[74]
set_io data_out[74] gfpga_pad_io_soc_out[75]
set_io data_out[75] gfpga_pad_io_soc_out[76]
set_io data_out[76] gfpga_pad_io_soc_out[77]
set_io data_out[77] gfpga_pad_io_soc_out[78]
set_io data_out[78] gfpga_pad_io_soc_out[79]
set_io data_out[79] gfpga_pad_io_soc_out[80]
set_io data_out[80] gfpga_pad_io_soc_out[81]
set_io data_out[81] gfpga_pad_io_soc_out[82]
set_io data_out[82] gfpga_pad_io_soc_out[83]
set_io data_out[83] gfpga_pad_io_soc_out[84]
set_io data_out[84] gfpga_pad_io_soc_out[85]
set_io data_out[85] gfpga_pad_io_soc_out[86]
set_io data_out[86] gfpga_pad_io_soc_out[87]
set_io data_out[87] gfpga_pad_io_soc_out[88]
set_io data_out[88] gfpga_pad_io_soc_out[89]
set_io data_out[89] gfpga_pad_io_soc_out[90]
set_io data_out[90] gfpga_pad_io_soc_out[91]
set_io data_out[91] gfpga_pad_io_soc_out[92]
set_io data_out[92] gfpga_pad_io_soc_out[93]
set_io data_out[93] gfpga_pad_io_soc_out[94]
set_io data_out[94] gfpga_pad_io_soc_out[95]
set_io data_out[95] gfpga_pad_io_soc_out[96]
set_io data_out[96] gfpga_pad_io_soc_out[97]
set_io data_out[97] gfpga_pad_io_soc_out[98]
set_io data_out[98] gfpga_pad_io_soc_out[99]
set_io data_out[99] gfpga_pad_io_soc_out[100]
set_io data_out[100] gfpga_pad_io_soc_out[101]
set_io data_out[101] gfpga_pad_io_soc_out[102]
set_io data_out[102] gfpga_pad_io_soc_out[103]
set_io data_out[103] gfpga_pad_io_soc_out[104]
set_io data_out[104] gfpga_pad_io_soc_out[105]
set_io data_out[105] gfpga_pad_io_soc_out[106]
set_io data_out[106] gfpga_pad_io_soc_out[107]
set_io data_out[107] gfpga_pad_io_soc_out[108]
set_io data_out[108] gfpga_pad_io_soc_out[109]
set_io data_out[109] gfpga_pad_io_soc_out[110]
set_io data_out[110] gfpga_pad_io_soc_out[111]
set_io data_out[111] gfpga_pad_io_soc_out[112]
set_io data_out[112] gfpga_pad_io_soc_out[113]
set_io data_out[113] gfpga_pad_io_soc_out[114]
set_io data_out[114] gfpga_pad_io_soc_out[115]
set_io data_out[115] gfpga_pad_io_soc_out[116]
set_io data_out[116] gfpga_pad_io_soc_out[117]
set_io data_out[117] gfpga_pad_io_soc_out[118]
set_io data_out[118] gfpga_pad_io_soc_out[119]
set_io data_out[119] gfpga_pad_io_soc_out[120]
set_io data_out[120] gfpga_pad_io_soc_out[121]
set_io data_out[121] gfpga_pad_io_soc_out[122]
set_io data_out[122] gfpga_pad_io_soc_out[123]
set_io data_out[123] gfpga_pad_io_soc_out[124]
set_io data_out[124] gfpga_pad_io_soc_out[125]
set_io data_out[125] gfpga_pad_io_soc_out[126]
set_io data_out[126] gfpga_pad_io_soc_out[127]


